Repository kennylam/beacon-for-ibm-dotcom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js .

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint --ext .js .",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

chore(docs): update repo url (#2)
  .github/CONTRIBUTING.md
  docs/contributing-license.md
  docs/developing.md
  docs/submission-guidelines.md
  package.json
Due: prettier --write

feat(legal): check for legal links data-autoids (#4)
  src/audits/legal/accessibility-link-audit.js
  src/audits/legal/privacy-link-audit.js
  src/audits/legal/terms-of-use-link-audit.js
  src/gatherers/legal/legal-links-gatherer.js
Due: prettier --write, eslint --ext .js .

chore(github-actions): adding workflows for ci-check & publish (#3)
  .github/workflows/ci-check.yml
  .github/workflows/publish.yml
  .gitignore
  package.json
Due: none

chore(node): add node 14 support to engines list (#6)
  package.json
Due: none

feat(carbon-for-ibm-dotcom): created audits for bucket (#5)
  src/audits/carbon-for-ibm-dotcom/callout-quote-audit.js
  src/audits/carbon-for-ibm-dotcom/card-copy-audit.js
  src/audits/carbon-for-ibm-dotcom/card-eyebrow-audit.js
  src/audits/carbon-for-ibm-dotcom/card-group-number-audit.js
  src/audits/carbon-for-ibm-dotcom/card-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/content-block-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/footer-audit.js
  src/audits/carbon-for-ibm-dotcom/leadspace-description-audit.js
  src/audits/carbon-for-ibm-dotcom/leadspace-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/masthead-audit.js
  src/audits/carbon-for-ibm-dotcom/v18-audit.js
  src/audits/page-data/ddo/ddo-version-check-audit.js
  src/config/custom-config.js
  src/gatherers/carbon-for-ibm-dotcom/components-gatherer.js
  src/gatherers/carbon-for-ibm-dotcom/v18-gatherer.js
Due: prettier --write, eslint --ext .js .

feat(docs): output docs from JSDoc (#7)
  .github/workflows/gh-pages.yml
  .gitignore
  .lintstagedrc
  README.md
  jsdoc.json
  package.json
  src/audits/carbon-for-ibm-dotcom/callout-quote-audit.js
  src/audits/carbon-for-ibm-dotcom/card-copy-audit.js
  src/audits/carbon-for-ibm-dotcom/card-eyebrow-audit.js
  src/audits/carbon-for-ibm-dotcom/card-group-number-audit.js
  src/audits/carbon-for-ibm-dotcom/card-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/content-block-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/footer-audit.js
  src/audits/carbon-for-ibm-dotcom/leadspace-description-audit.js
  src/audits/carbon-for-ibm-dotcom/leadspace-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/masthead-audit.js
  src/audits/legal/accessibility-link-audit.js
  src/audits/legal/cookie-preferences-audit.js
  src/audits/legal/privacy-link-audit.js
  src/audits/legal/terms-of-use-link-audit.js
  src/audits/page-data/ddo/ddo-country-audit.js
  src/audits/page-data/ddo/ddo-language-audit.js
  src/audits/page-data/ddo/ddo-version-audit.js
  src/audits/page-data/ddo/ddo-version-check-audit.js
  src/config/constants.js
  src/config/custom-config.js
  src/gatherers/carbon-for-ibm-dotcom/components-gatherer.js
  src/gatherers/carbon-for-ibm-dotcom/v18-gatherer.js
  src/gatherers/legal/legal-links-gatherer.js
  src/gatherers/page-data/ddo/ddo-gatherer.js
  yarn.lock
Due: prettier --write, eslint --ext .js .

chore(deps): update package name
  package.json
Due: none

feat(audit): introducing carbon design system audit (#8)
  src/audits/carbon-design-system/color-usage-audit.js
  src/audits/carbon-design-system/text-usage-audit.js
  src/config/custom-config.js
Due: prettier --write, eslint --ext .js .

chore(docs): remove comments from PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/gh-pages.yml
  .gitignore
  .lintstagedrc
  README.md
  jsdoc.json
  package.json
  src/audits/carbon-design-system/color-usage-audit.js
  src/audits/carbon-design-system/text-usage-audit.js
  src/audits/carbon-for-ibm-dotcom/callout-quote-audit.js
  src/audits/carbon-for-ibm-dotcom/card-copy-audit.js
  src/audits/carbon-for-ibm-dotcom/card-eyebrow-audit.js
  src/audits/carbon-for-ibm-dotcom/card-group-number-audit.js
  src/audits/carbon-for-ibm-dotcom/card-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/content-block-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/footer-audit.js
  src/audits/carbon-for-ibm-dotcom/leadspace-description-audit.js
  src/audits/carbon-for-ibm-dotcom/leadspace-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/masthead-audit.js
  src/audits/legal/accessibility-link-audit.js
  src/audits/legal/cookie-preferences-audit.js
  src/audits/legal/privacy-link-audit.js
  src/audits/legal/terms-of-use-link-audit.js
  src/audits/page-data/ddo/ddo-country-audit.js
  src/audits/page-data/ddo/ddo-language-audit.js
  src/audits/page-data/ddo/ddo-version-audit.js
  src/audits/page-data/ddo/ddo-version-check-audit.js
  src/config/constants.js
  src/config/custom-config.js
  src/gatherers/carbon-for-ibm-dotcom/components-gatherer.js
  src/gatherers/carbon-for-ibm-dotcom/v18-gatherer.js
  src/gatherers/legal/legal-links-gatherer.js
  src/gatherers/page-data/ddo/ddo-gatherer.js
  yarn.lock
Due: prettier --write, eslint --ext .js .

feat(beacon): CLI binary (#9)
  README.md
  cli.js
  gulp-tasks/lint.js
  index.js
  package.json
  src/audits/carbon-design-system/color-usage-audit.js
  src/audits/carbon-design-system/text-usage-audit.js
  src/audits/carbon-for-ibm-dotcom/callout-quote-audit.js
  src/audits/carbon-for-ibm-dotcom/card-copy-audit.js
  src/audits/carbon-for-ibm-dotcom/card-eyebrow-audit.js
  src/audits/carbon-for-ibm-dotcom/card-group-number-audit.js
  src/audits/carbon-for-ibm-dotcom/card-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/content-block-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/footer-audit.js
  src/audits/carbon-for-ibm-dotcom/leadspace-description-audit.js
  src/audits/carbon-for-ibm-dotcom/leadspace-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/masthead-audit.js
  src/audits/carbon-for-ibm-dotcom/v18-audit.js
  src/audits/legal/accessibility-link-audit.js
  src/audits/legal/cookie-preferences-audit.js
  src/audits/legal/privacy-link-audit.js
  src/audits/legal/terms-of-use-link-audit.js
  src/audits/page-data/ddo/ddo-country-audit.js
  src/audits/page-data/ddo/ddo-language-audit.js
  src/audits/page-data/ddo/ddo-version-audit.js
  src/audits/page-data/ddo/ddo-version-check-audit.js
  src/config/constants.js
  src/config/custom-config.js
  src/gatherers/carbon-for-ibm-dotcom/components-gatherer.js
  src/gatherers/carbon-for-ibm-dotcom/v18-gatherer.js
  src/gatherers/legal/legal-links-gatherer.js
Due: prettier --write, eslint --ext .js .

chore(codeowners): add `CODEOWNERS` file (#10)
  .github/CODEOWNERS
Due: none

fix(i18n): update i18n module paths (#11)
  src/config/constants.js
Due: prettier --write, eslint --ext .js .

fix(beacon): token and message fixes (#12)
  src/audits/carbon-design-system/color-usage-audit.js
  src/audits/carbon-design-system/text-usage-audit.js
  src/audits/page-data/ddo/ddo-version-check-audit.js
Due: prettier --write, eslint --ext .js .

chore(npm): change scope to @ibmdotcom
  package.json
Due: none

chore(package): change package name to beacon
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  README.md
  index.js
  package.json
Due: prettier --write, eslint --ext .js .

chore(repo): revert repo name to original
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write

chore(package): change npm scope to @ibmdotcom (#13)
  README.md
  index.js
  package.json
Due: prettier --write, eslint --ext .js .

chore(version): bump to 0.4.0 (#14)
  package.json
Due: none

chore(publish): disable dry-run (#15)
  .github/workflows/publish.yml
Due: none

chore(publish): fix for publishing scoped package (#16)
  package.json
Due: none

fix(gatherer): update gatherer to include cookie preferences link
  src/audits/legal/cookie-preferences-audit.js
  src/gatherers/legal/legal-links-gatherer.js
Due: prettier --write, eslint --ext .js .

Deploying to docs from @ kennylam/beacon-for-ibm-dotcom@ac150613b14ccbaa4ace652eaf71102ad247acc5 🚀
  CheckComponents.html
  CheckDDO.html
  CheckLegalLinks.html
  CheckV18.html
  audits_carbon-design-system_color-usage-audit.js.html
  audits_carbon-design-system_text-usage-audit.js.html
  audits_carbon-for-ibm-dotcom_callout-quote-audit.js.html
  audits_carbon-for-ibm-dotcom_card-copy-audit.js.html
  audits_carbon-for-ibm-dotcom_card-eyebrow-audit.js.html
  audits_carbon-for-ibm-dotcom_card-group-number-audit.js.html
  audits_carbon-for-ibm-dotcom_card-heading-audit.js.html
  audits_carbon-for-ibm-dotcom_content-block-heading-audit.js.html
  audits_carbon-for-ibm-dotcom_footer-audit.js.html
  audits_carbon-for-ibm-dotcom_leadspace-description-audit.js.html
  audits_carbon-for-ibm-dotcom_leadspace-heading-audit.js.html
  audits_carbon-for-ibm-dotcom_masthead-audit.js.html
  audits_carbon-for-ibm-dotcom_v18-audit.js.html
  audits_legal_accessibility-link-audit.js.html
  audits_legal_cookie-preferences-audit.js.html
  audits_legal_privacy-link-audit.js.html
  audits_legal_terms-of-use-link-audit.js.html
  audits_page-data_ddo_ddo-country-audit.js.html
  audits_page-data_ddo_ddo-language-audit.js.html
  audits_page-data_ddo_ddo-version-audit.js.html
  audits_page-data_ddo_ddo-version-check-audit.js.html
  config_custom-config.js.html
  gatherers_carbon-for-ibm-dotcom_components-gatherer.js.html
  gatherers_carbon-for-ibm-dotcom_v18-gatherer.js.html
  gatherers_legal_legal-links-gatherer.js.html
  gatherers_page-data_ddo_ddo-gatherer.js.html
  global.html
  index.html
Due: none

fix(audit): cookie preferences link audit (#43)
  src/audits/legal/cookie-preferences-audit.js
  src/gatherers/legal/legal-links-gatherer.js
Due: prettier --write, eslint --ext .js .

Fix/version audit check copy update (#45)
  src/audits/page-data/ddo/ddo-version-check-audit.js
Due: prettier --write, eslint --ext .js .

Update ddo-version-check-audit.js (#46)
  src/audits/page-data/ddo/ddo-version-check-audit.js
Due: prettier --write, eslint --ext .js .

chore(lighthouse): bump major version (#44)
  package.json
  yarn.lock
Due: none

[Beacon] Content review: CDS audit messages (#47)
  src/audits/carbon-design-system/color-usage-audit.js
  src/audits/carbon-design-system/text-usage-audit.js
Due: prettier --write, eslint --ext .js .

fix(color-audit): update the color token list (#48)
  src/audits/carbon-design-system/color-usage-audit.js
Due: prettier --write, eslint --ext .js .

[Beacon] Content review: DDO audit messages (#50)
  src/audits/page-data/ddo/ddo-country-audit.js
  src/audits/page-data/ddo/ddo-language-audit.js
  src/audits/page-data/ddo/ddo-version-audit.js
Due: prettier --write, eslint --ext .js .

[Beacon] Content review: Carbon for IBM.com audit messages (#49)
  src/audits/carbon-for-ibm-dotcom/callout-quote-audit.js
  src/audits/carbon-for-ibm-dotcom/card-copy-audit.js
  src/audits/carbon-for-ibm-dotcom/card-eyebrow-audit.js
  src/audits/carbon-for-ibm-dotcom/card-group-number-audit.js
  src/audits/carbon-for-ibm-dotcom/card-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/content-block-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/footer-audit.js
  src/audits/carbon-for-ibm-dotcom/leadspace-description-audit.js
  src/audits/carbon-for-ibm-dotcom/leadspace-heading-audit.js
  src/audits/carbon-for-ibm-dotcom/masthead-audit.js
  src/audits/carbon-for-ibm-dotcom/v18-audit.js
Due: prettier --write, eslint --ext .js .

docs(legal): content review: legal audit messages (#51)
  src/audits/legal/accessibility-link-audit.js
  src/audits/legal/cookie-preferences-audit.js
  src/audits/legal/privacy-link-audit.js
  src/audits/legal/terms-of-use-link-audit.js
Due: prettier --write, eslint --ext .js .

chore(lint): introduce lint workflow for auto-fixing prettier/eslint (#53)
  .eslintignore
  .github/workflows/lint.yml
  .prettierignore
Due: none

fix(audits): updated max character count (#54)
  src/audits/carbon-for-ibm-dotcom/card-eyebrow-audit.js
  src/audits/carbon-for-ibm-dotcom/leadspace-heading-audit.js
Due: prettier --write, eslint --ext .js .

[Beacon] Update CDS messages with follow up steps (#56)
  src/audits/carbon-design-system/color-usage-audit.js
  src/audits/carbon-design-system/text-usage-audit.js
Due: prettier --write, eslint --ext .js .

fix(chrome): adding `--no-sandbox` flag for chromebrowser (#60)
  index.js
  package.json
Due: prettier --write, eslint --ext .js .

fix(chrome): add `--disable-setuid-sandbox` flag (#61)
  index.js
  package.json
  yarn.lock
Due: prettier --write, eslint --ext .js .

chore(github): updates to workflows and PR template (#62)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci-check.yml
  .github/workflows/gh-pages.yml
  .github/workflows/lint.yml
Due: prettier --write

fix(chrome): add flag for fixing chrome in docker (#63)
  index.js
  package.json
Due: prettier --write, eslint --ext .js .
